<style>
    #feature {
        position: absolute;
        width: 150px;
        height: 33px;
        text-align: center;
    }
</style>
<EditForm Model="@spotlightitem" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationMessage For="@(() => spotlightitem.ExpireDate)" />
    <InputDate id="style1" @bind-Value="@spotlightitem.ExpireDate" class="form-control" />
    <br />
    <button id="feature" type="submit" class="btn btn-success btn-block">
        @ButtonText restaurant
    </button>
    <ValidationSummary />
</EditForm>
@code {
    [Parameter] public SpotlightItem spotlightitem { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
   
}
