@page "/"
@inject HttpClient _client
@inject IJSRuntime js
@inject NavigationManager _navManager
<h1>Home Page</h1>

<AuthorizeView>
    <Authorized>
        @{ _navManager.NavigateTo("/start/");}
    </Authorized>
    <NotAuthorized>
        <div class="standard">Please login to start using service</div>
    </NotAuthorized>
</AuthorizeView>

@code {

}
